.main-section {
    width: 100%;
}

.left-sidebar {
    background: radial-gradient(circle, rgba(178, 174, 238, 1) 0%, rgba(233, 148, 191, 0.8379726890756303) 100%);
    padding: 0px;
}

.searchbox {
    width: 100%;
    padding: 27px 10px;
}

.search-icon {
    background-color: #23849688 !important;
    color: #000;
    font-weight: 500;
    border-radius: 0px;
}

.search-icon:hover {
    color: white;
}

.form-control,
.search-icon,
.search-icon:hover {
    background-color: #6a6c75;
    box-shadow: none !important;
}

.form-control {
    border: 1px solid #fff;
}

.chat-left-img,
.chat-left-detail {
    float: left;
}

.left-chat {
    overflow-y: scroll;
    height: 100vh;
}

.left-chat ul {
    overflow: hidden;
    padding: 0px;
}

.left-chat ul li {
    list-style-type: none;
    width: 100%;
    float: left;
    margin: 10px 0px 8px 15px;
}

.chat-left-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: left;
    float: fixed;
    border: 3px solid #6b6f79;
}

.chat-left-detail {
    margin-left: 10px;
}

.chat-left-detail p {
    margin: 0px;
    color: #fff;
    padding: 7px 0px 0px;

}

.chat-left-detail span {
    color: #B8BAC3;
    font-size: 10px;

}

.chat-left-detail span i {
    color: #86BB71;
    font-size: 10px;

}

.chat-left-detail .orange {
    color: #E38968;
}

.right-sidebar {
    padding: 0px;
    border-right: 7px solid rgba(233, 148, 191, 0.8379726890756303);
}


.right-header-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    border: 3px solid #61BC71;
    margin-right: 10px;
}

.right-header {
    height: 80px;
    background: radial-gradient(circle, rgba(178, 174, 238, 1) 0%, rgba(233, 148, 191, 0.8379726890756303) 100%);
    /* background-color: rgba(233,148,191,0.8379726890756303); */
    width: 97.3%;
    margin-left: 12px;
    font-weight: 500;
    color: black;
}

.right-header-detail p {
    margin: 0px;
    color: #fff;
    font-weight: bold;
    padding-top: 5px;
}

.right-header-detail span {
    color: #9fa5af;
    font-size: 12px;
}

.rightside-left-chat,
.rightside-right-chat {
    float: left;
    width: 80%;
    position: relative;
}

.rightside-right-chat {
    float: right;
    margin-right: 35px;
}

.right-header-contentChat {
    overflow-y: scroll;
    position: relative;
}

.right-header-contentChat ul li {
    list-style: none;
    margin-top: 20px;
}

.right-header-contentChat .rightside-left-chat p,
.right-header-contentChat .rightside-right-chat p {
    background-color: #b571bb8c;
    padding: 15px;
    border-radius: 8px;
    color: #0e0d0d;
    font-weight: 600;
}

.right-header-contentChat .rightside-right-chat p {
    background-color: #94c2ed;
}

.right-chat-textbox input {
    width: 80%;
    height: 40px;
    border: 2px solid #3d85ca;
    border-radius: 5px;
    padding: 0px 10px;
}

.right-chat-textbox button {
    height: 40px;
    width: 70px;
    margin-left: 20px;
}

.rightside-left-chat span i,
.rightside-right-chat span i {
    color: #86bb71;
    font-size: 12px;
}

.rightside-right-chat span i {
    color: #94c2ed;

}

.rightside-right-chat span {
    float: right;
}

.rightside-right-chat span small,
.rightside-left-chat span small {
    color: #a0a0a0;
}

.rightside-left-chat :before {
    content: " ";
    position: absolute;
    top: 19px;
    left: 15px;
    bottom: 150px;
    border: 15px solid transparent;
    border-bottom-color: #ca91cf71;
    z-index: 1;
}

.rightside-right-chat :before {
    content: "";
    position: absolute;
    top: 19px;
    right: 15px;
    bottom: 150px;
    border: 15px solid transparent;
    border-bottom-color: #94c2ed;
}

.green-circle {
    color: rgba(21, 121, 71, 0.815) !important;
    font-size: 10px;
    position: relative;
    top: -1px;
}

.grey-circle {
    font-size: 10px;
    position: relative;
    top: -2px;
    color: grey;
}

.logout-btn {
    position: relative;
    left: 86%;
    top: 45px;
    margin-top: 0px !important;
    width: 100px;
    background-color: #23849688 !important;
    color: #000;
    font-weight: 500;
    border: none !important;
    border-radius: 0px;

}

.logout-box {
    background: radial-gradient(circle, rgba(178, 174, 238, 1) 0%, rgba(233, 148, 191, 0.8379726890756303) 100%);
    /* background-color: rgba(233,148,191,0.8379726890756303); */
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-left: 10px;
    font-size: 17px;
}

.online-text {
    font-size: 13px;
    color: rgb(54, 54, 54);
}

.name {
    margin-left: 5px !important;
    font-size: 17px;
}

.messages {
    font-size: 12px;
    position: relative;
    top: -14px;
}

.left-user {
    background-color: #3d86ca54;
    padding-top: 13px;
    padding-left: 10px;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 29px;
}

.input-msg {
    border: 2px solid rgba(221, 39, 245, 0.5) !important;
    margin-left: 14px;
    outline: none;
    border-radius: 0px !important;
}

.send-btn {
    background-color: rgba(221, 39, 245, 0.5) !important;
    width: 120px !important;
    position: relative;
    top: -3px;
    right: 25px;
    border-radius: 0px !important;
}


/* scroollbar  css*/

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, rgba(146, 21, 177, 0.342) 0%, rgba(29, 129, 211, 0.267) 100%);
    border-radius: 4px;
}

/* scroollbar  css  end*/






@media only screen and (max-width: 320px) {
    .main-section {
        display: none;
    }
}