body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    box-shadow: 2px 2px 10px rgba(216, 68, 242, 0.555);
    border-radius: 4px;
    border: solid 2px rgba(216, 68, 242, 0.555);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: 70px;
}

input {
    width: 350px;
    height: 40px;
    padding: 0px 10px;
    border-radius: 0px;
    border: 1px solid rgba(80, 80, 80, 0.555);
    outline: none;
    border-radius: 4px;
    font-weight: 600;
}

.form-header {
    background: radial-gradient(circle, rgba(178,174,238,1) 0%, rgba(233,148,191,0.8379726890756303) 100%);
    padding: 10px;
    border-radius: 4px;
    font-family: 'Pacifico' sans-serif !important;
    color: rgb(74, 73, 73);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

}
.sub-btn {
    background: radial-gradient(circle, rgba(178,174,238,1) 0%, rgba(233,148,191,0.8379726890756303) 100%);
    width: 350px;
    height: 50px;
    border-radius: 20px;
    color: rgb(74, 73, 73);
    font-weight: 600;
}
.sub-btn:hover{
    background-color: rgba(213, 9, 249, 0.555);
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgba(42, 99, 165, 0.615);
}
.select{
    width: 350px;
    height: 40px;
    padding: 0px 10px;
    border-radius: 0px;
    border: 1px solid rgba(80, 80, 80, 0.555);
    outline: none;
    border-radius: 4px;
    font-weight: 500;

}
.check-box{
    width: 15px;
    margin-top: -9px;
}
.check-lable{
    font-size: 14px;
    display: flex;
    font-weight: 500;
}